* {
  -ms-overflow-style: none;
  transition: all 0.3s ease-in-out;
  font-family: 'Josefin Sans';
}
.textGlow {
  text-shadow: var(--text-shadow);
}
.btn-gradient-border {
  border: 2px double transparent;
  background-color: var(--btn_background_gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-width: 2px;
}
.btn-gradient-border:hover {
  color: rgb(15, 130, 42);
  transform: scale(0.9);
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --border_color: rgba(2, 25, 10);
  --body_background: #040720;
  --UIColor: black;
  --UIButtonColor: #040720;
  --UIText: white;
  --btn_background_gradient: white;
  --btn_text: black;
  --text-shadow: 0 0 80px rgb(192 219 255 / 100%),
    0 0 32px rgb(65 120 255 / 100%);
}
[data-theme='dark'] {
  --border_color: rgba(2, 25, 10);
  --body_background: #040720;
  --UIColor: black;
  --UIButtonColor: #040720;
  --UIText: white;
  --btn_background_gradient: white;
  --btn_text: black;
  --text-shadow: 0 0 80px rgb(192 219 255 / 100%),
    0 0 32px rgb(65 120 255 / 100%);
}
[data-theme='light'] {
  --border_color: rgba(255, 255, 255);
  --body_background: #454545;
  --UIColor: white;
  --UIButtonColor: #393f44;
  --UIText: black;
  --btn_background_gradient: black;
  --btn_text: white;
  --text-shadow: 0 0 80px rgb(27, 162, 43), 0 0 32px rgba(1, 73, 14, 0.4);
}
body {
  margin: 0;
  padding: 0;

  overflow: auto;
  background-color: var(
    --body_background
  ); /* Set the overall background color */
}

.fadeAppear {
  animation: fadeAppear linear;
  animation-timeline: view();
}

@keyframes fadeAppear {
  from {
    opacity: 0;
    transform: translateY(75px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate();
    transform: translateY(0);
  }
  100% {
    transform: translate();
  }
}
