.loginBtn {
  opacity: 0;
  animation: slideFromLeft 1.2s ease-in 2s forwards;
}

.rentASpot {
  opacity: 0;
  animation: slideFromRight 1.2s ease-in-out 2s forwards;
}

.title {
  margin-top: 3%;
  text-align: center;
  font-size: 7vw;
  font-weight: 700;
  color: #bacbdbe4;
  text-shadow: 40px 30px 50px rgba(0, 0, 0, 0.8);
  letter-spacing: 10px;
  margin-bottom: 15vh; /* Added margin-bottom for distance from the options container */
}
.vertical-hr {
  border-color: rgb(15, 130, 42);
  box-shadow: 0 0px 20px 5px rgba(15, 130, 42, 0.7);
  height: 100px; /* Adjust height as needed */
  margin: 0 10px; /* Adjust margin as needed */
  margin: 0 25px 0 25px;
  opacity: 0;
  animation: appearStatic 0.8s ease-in-out 1.5s forwards;
}
.emptySpace {
  width: 100%;
  height: 300px;
}

.options-container {
  bottom: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.option-box {
  width: 120px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-weight: 500;
  text-shadow: 30px 20px 35px rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  color: var(--btn_text);
  background-color: var(--UIColor);
  border-radius: 28%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  /* Added flex properties for vertical alignment */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.link {
  text-decoration: none;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

.content-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 25px;
  top: 150px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}
.titleDiv {
  font-size: 7rem;
  text-align: center;
  color: rgb(15, 130, 42);
}
.informationContainer {
  min-height: 850px;
  background-color: var(--UIColor);
  margin-left: 10%;
  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 75px 0px 75px 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100%;
  height: 80%;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 80%;
}

.middle,
.bottomHalf {
  color: var(--UIText);
}

.middle {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.75rem;
  font-weight: bold;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* This will make the container take up the full height of the top half */
  font-size: 10.9rem;
}
.bottomHalf {
  flex-wrap: wrap; /* Allows the text to wrap onto multiple lines */
  text-align: center; /* Centers the text horizontally */
  font-size: 1.1rem;
  width: 80%;
  line-height: 1.5em;
}
.footerBenefits {
  color: var(--UIText);
  text-align: center;
  margin-top: 200px;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.stores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
}
.clockIcon {
  color: rgb(15, 130, 42);
}
.downloadRatingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 75px 50px 75px 50px;
}
.downloadRating {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.downloads {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.cardReviewContainer {
  width: 100%;
  min-height: 850px;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  justify-items: center; /* Center cards horizontally */
  align-items: center; /* Center cards vertically */
  justify-content: space-around; /* Distribute remaining space evenly between and around cards */
  align-content: space-around; /* Distribute remaining space evenly between and around cards */
}
.cardReview {
  width: 310px;
  height: 550px;
  color: var(--UIColor);
  border-radius: 8px;
  padding: 20px;
}
.imgReview {
  max-width: 100%;
}
.hrReviews {
  margin-top: 7%;
  border-color: rgb(15, 130, 42);
  box-shadow: 0 0px 20px 5px rgba(15, 130, 42, 0.7);
  margin-bottom: 5%;
}
.textReviews {
  color: var(--UIText);
  flex-wrap: wrap; /* Allows the text to wrap onto multiple lines */
  text-align: center; /* Centers the text horizontally */
  font-size: 1.1rem;
  width: 80%;
  height: 40%;
  margin-left: 10%;
  line-height: 1.5em;
}
.rating {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stars {
  font-size: 24px;
}

.star {
  color: gold;
}

.rating-text {
  color: var(--UIText);
}

.footer {
  width: 100%;
}
.sponsors-section {
  height: auto;
  background-color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 1fr); /* Two columns */
}

.additional-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--UIColor);
  color: var(--UIText);

  border-top: 2px solid rgb(15, 130, 42);
  box-shadow: 0 -5px 15px rgba(15, 130, 42, 0.5);
}
/* Media query for resolutions smaller than 800 pixels */

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appearStatic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .options-container {
    flex-direction: column;
    align-items: center;
  }

  .option-box {
    font-size: 40px;
    width: 70%;
    height: 70px; /* Increased button height on smaller screens */
    margin: 15px; /* Increased distance between buttons on smaller screens */
    border-radius: 28%;
  }
  .title {
    font-size: 80px;
    margin-top: 15%;
    letter-spacing: 5px;
  }
}
