.title {
  margin-top: 3%;
  text-align: center;
  font-size: 7vw;
  font-weight: 700;
  color: #bacbdbe4;
  text-shadow: 40px 30px 50px rgba(0, 0, 0, 0.8);
  letter-spacing: 10px;
  margin-bottom: 15vh; /* Added margin-bottom for distance from the options container */
}
.vertical-hr {
  border-color: rgb(15, 130, 42);
  box-shadow: 0 0px 20px 5px rgba(15, 130, 42, 0.7);
  height: 100px; /* Adjust height as needed */
  margin: 0 10px; /* Adjust margin as needed */
  margin: 0 25px 0 25px;
  opacity: 0;
  animation: appearStatic 0.8s ease-in-out 1.5s forwards;
}
.emptySpace {
  width: 100%;
  height: 300px;
}

.options-container {
  bottom: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.option-box {
  padding: 10px 30px; /* Smaller padding */
  margin: 10px;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem; /* Smaller font size */
  color: #fff;
  background: linear-gradient(
    45deg,
    #4caf50,
    #81c784
  ); /* Green gradient background */
  border-radius: 10px; /* Smaller border radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
}

.option-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.rentASpot {
  opacity: 0;
  animation: fadeIn 0.7s ease-in 0.7s forwards;
  background: linear-gradient(45deg, blue, cyan);
  position: relative; /* For the oblique line effect */
  overflow: hidden;
  font-size: 50px;
  width: auto;
  height: 40px;
}

.rentASpot::before {
  content: '';
  position: absolute;
  right: 50%; /* Start from the right */
  width: 100%;
  height: 100%;
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Semi-transparent white for the line */
  transform: skewX(-30deg); /* Oblique line effect */
  transition: all 0.5s ease; /* Smooth transition */
}

.rentASpot:hover::before {
  right: -150%; /* Move the line across on hover */
}
.loginBtn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 0.5s forwards;
  background: linear-gradient(
    45deg,
    #2e7d32,
    #66bb6a
  ); /* Darker green gradient for contrast */
  font-size: 1.2rem; /* Adjusted font size */
  position: relative; /* For the oblique line effect */
  overflow: hidden;
}

.loginBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Semi-transparent white for the line */
  transform: skewX(-30deg); /* Oblique line effect */
  transition: all 0.5s ease; /* Smooth transition */
}

.loginBtn:hover::before {
  left: 150%; /* Move the line across on hover */
}

.rentHomeButton {
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 4;
}

.linkHome {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(var(--UIColor), 0.1);
  backdrop-filter: blur(8px);
}

.content-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 25px;
  top: 150px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}
.titleDiv {
  font-size: 7rem;
  text-align: center;
  color: rgb(15, 130, 42);
}
.informationContainer {
  min-height: 850px;
  background-color: rgba(var(--UIText), 0.2);
  margin-left: 10%;
  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 25px 0px 75px 0;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 100%;
  height: 80%;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 80%;
}

.middle,
.bottomHalf {
  color: rgb(var(--UIText));
}

.middle {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.75rem;
  font-weight: bold;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* This will make the container take up the full height of the top half */
  font-size: 10.9rem;
}
.bottomHalf {
  flex-wrap: wrap; /* Allows the text to wrap onto multiple lines */
  text-align: center; /* Centers the text horizontally */
  font-size: 1.1rem;
  width: 80%;
  line-height: 1.5em;
}
.footerBenefits {
  color: rgb(var(--UIText));
  text-align: center;
  margin-top: 200px;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.stores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
}
.clockIcon {
  color: rgb(15, 130, 42);
}
.downloadRatingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 75px 50px 75px 50px;
}
.downloadRating {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.downloads {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.cardReviewContainer {
  width: 100%;
  min-height: 850px;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  justify-items: center; /* Center cards horizontally */
  align-items: center; /* Center cards vertically */
  justify-content: space-around; /* Distribute remaining space evenly between and around cards */
  align-content: space-around; /* Distribute remaining space evenly between and around cards */
}
.cardReview {
  width: 310px;
  height: 550px;
  color: rgb(var(--UIText));
  border-radius: 8px;
  padding: 20px;
}
.imgReview {
  max-width: 100%;
}
.hrReviews {
  margin-top: 7%;
  border-color: rgb(15, 130, 42);
  box-shadow: 0 0px 20px 5px rgba(15, 130, 42, 0.7);
  margin-bottom: 5%;
}
.textReviews {
  color: rgb(var(--UIText));
  flex-wrap: wrap; /* Allows the text to wrap onto multiple lines */
  text-align: center; /* Centers the text horizontally */
  font-size: 1.1rem;
  width: 80%;
  height: 40%;
  margin-left: 10%;
  line-height: 1.5em;
}
.rating {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stars {
  font-size: 24px;
}

.star {
  color: gold;
}

.rating-text {
  color: rgb(var(--UIText));
}

.footer {
  width: 100%;
}
.sponsors-section {
  height: auto;
  background-color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 1fr); /* Two columns */
}

.additional-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(var(--UIColor));
  color: rgb(var(--UIText));

  border-top: 2px solid rgb(15, 130, 42);
  box-shadow: 0 -5px 15px rgba(15, 130, 42, 0.5);
}
/* Media query for resolutions smaller than 800 pixels */
.reviewsTitle {
  color: #097b5a;
  font-size: 40px;
  font-weight: bold;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Slight upward movement */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}
@keyframes appearStatic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .options-container {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 80px;
    margin-top: 15%;
    letter-spacing: 5px;
  }
}
