.menuItemsContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: column;
}
.menuSettingsContainer {
  width: 100%;
}

.menuSettingsText {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  margin-top: 20px;
  font-weight: 800;
  font-size: 30px;
}

.menuSettings {
  row-gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70%;
  justify-content: space-around;
}
.bottomMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.additionalMenuItems {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quickLinks {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.quickLinks:hover .icon {
  opacity: 0;
}

.menuItemLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 4rem;
  padding: 10px;
  border-radius: 5px;
  color: #00ffff;
}
.underlineAnimation {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.underlineAnimation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #00ffff;
  transition: width 0.3s ease;
}
.pagination {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  align-items: center;
  justify-content: center;
  width: 97%;
  gap: 5px;
  height: auto;
}
.pagination button {
  color: white;
  width: auto;
  height: 50px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #12be8c;
  border-style: none;
  border-radius: 3px;
}

.pagination button.active {
  background-color: #007bff;
  color: black;
  border: 1px solid #007bff;
}

.pagination button:hover {
  background-color: #0056b3;
  color: black;
}
.arrowButton {
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #12be8c;
  width: 25px;
  height: 50px;
}
.arrowButton:hover {
  background-color: #0056b3;
  color: black;
}
.underlineAnimation:hover::after {
  width: 100%;
}
