.menuItemsContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: column;
}
.menuSettingsContainer {
  width: 100%;
}

.menuSettingsText {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  margin-top: 20px;
  font-weight: 800;
  font-size: 30px;
}

.menuSettings {
  row-gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70%;
  justify-content: space-around;
}
.bottomMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.additionalMenuItems {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quickLinks {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.quickLinks:hover .icon {
  opacity: 0;
}

.menuItemLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 4rem;
  padding: 10px;
  border-radius: 5px;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.underlineAnimation {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.underlineAnimation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
.pagination {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  align-items: center;
  justify-content: center;
  width: 97%;
  gap: 5px;
  height: auto;
}
.pagination button {
  color: white;
  width: auto;
  height: 50px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #12be8c;
  border-style: none;
  border-radius: 3px;
  font-size: 20px;
}

.pagination button.active {
  background-color: #007bff;
  color: black;
  border: 1px solid #007bff;
}

.pagination button:hover {
  background-color: #0056b3;
  color: black;
}
.arrowButton {
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #12be8c;
  width: 25px;
  height: 50px;
}
.arrowButton:hover {
  background-color: #0056b3;
  color: black;
}
.underlineAnimation:hover::after {
  width: 100%;
}

@media (max-width: 1000px) {
}
.menuSettingsText {
  font-size: 50px;
}
.pagination button {
  height: 10vh;
}
@media (max-width: 850px) {
  .transition-width {
    width: 40vw;
    height: 120px;
    border-radius: 55px;
  }
  .pagination button {
    width: auto;
    font-size: 20px;
  }
  .settingsIcon {
    width: 75px;
    height: 75px;
  }
  .settings {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 400px) {
  .menuItemLink {
    font-size: 2.5rem;
  }
  .pagination button {
    font-size: 15px;
    width: auto;
    height: 60px;
  }
  .pagination {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}
