.parkBuddy {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 15%;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.237);
  border-top: hidden;
  border-left: hidden;
  cursor: pointer;
  opacity: 0.7;
  transition: box-shadow 0.12s ease-in-out, transform 0.07s ease-in-out,
    opacity 0.12s ease-in-out;
  position: relative;
}
.parkBuddy:hover {
  box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.4);
}
.parkBuddy:active {
  transform: scale(0.9);
}
.emptyHeader {
  height: 62px;
  width: 100vw;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #0b3e27, #197149);
  justify-content: space-between;
  z-index: 101;
}
.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 10px;
}

.line-horizontal {
  width: 18px;
  height: 3px;
  background-color: white;
  margin: 0 3px;
}
.menuContainer:hover .line-horizontal:nth-child(1) {
  animation: spin45deg1 0.5s forwards;
}

.menuContainer:hover .line-horizontal:nth-child(2) {
  animation: spin45deg2 0.5s forwards; /* Add 's' to specify seconds */
}

.menuIcon.open .line-horizontal:nth-child(1) {
  animation: rotateRight 1s forwards;
}

.menuIcon.open .line-horizontal:nth-child(2) {
  animation: rotateLeft 1s forwards;
}

.hide {
  top: -63px; /* Adjust this value based on your header height */
}

.show {
  top: 0;
}
.header > * {
  margin-bottom: 3px;
}

@keyframes hideHeader {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes showHeader {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes rotateRight {
  0% {
    transform: rotate(0) translateY(0) translateX(0);
  }
  50% {
    transform: rotate(0) translateY(5px) translateX(0);
  }
  100% {
    transform: rotate(45deg) translateY(-1px) translateX(-2px);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0) translateY(0) translateX(0);
  }
  50% {
    transform: rotate(0) translateY(-5px) translateX(0);
  }

  100% {
    transform: rotate(45deg) translateY(2px) translateX(-2px);
  }
}

@keyframes spin45deg1 {
  0% {
    transform: rotate(0deg) translateY(0) translateX(0);
  }

  100% {
    transform: rotate(45deg) translateY(-1px) translateX(-2px);
  }
}
@keyframes spin45deg2 {
  0% {
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
  100% {
    transform: rotate(45deg) translateY(2px) translateX(-2px);
  }
}
