.catchy {
  color: white;
  font-weight: 800;
  font-size: 25px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}
.normal-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 850px) {
  .catchy {
    display: none;
  }
}
@media (max-width: 400px) {
  .normal-text {
    font-size: 1rem;
  }
}
