.catchy {
  color: white;
  font-weight: 800;
  font-size: 25px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}
.normal-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
