.background_container {
  position: absolute;
  background-color: var(--body_background);
  position: relative;
  z-index: -2; /* Ensure background is behind particles */
}

#tsparticles {
  position: absolute;
  background-color: var(--body_background);
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles container is above the background */
}
.buttonStopPauseParticles {
  background-color: var(--UIText);
  color: var(--UIColor);
  cursor: pointer;
  border-style: solid;
  padding: 10px;
}

.buttonStopPauseParticles:active {
  transition: 0;
  transform: scale(0.8);
}

.transition-width {
  transition: width 0.5s ease-in-out;
}
