.payment-method-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: #097b5a;
  min-height: 400px;
}
.alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.payment-method-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #12be8c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.error {
  font-weight: 700;
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.success-message {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  top: 250px;
  left: 500px;
}

.success-message .tick {
  font-size: 2em;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .payment-method-container {
    margin: 0;
    max-width: 100%;
    border-top: darkgreen;
  }
}
