.headerButtons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 55px;
}
.leftButton {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: black;
  color: white;
}
.leftButton.inactive {
  border-style: hidden;
  opacity: 0.4;
}

.rightButton {
  background-color: white;
  color: black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.rightButton.inactive {
  border-style: hidden;
  opacity: 0.4;
}

.biggestDiv {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.formNormalAlign {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--UIText), 0.2);
  backdrop-filter: blur(7px);
}
.partnerDiv {
  cursor: pointer;
  background-color: rgba(var(--UIText), 0.2);
  backdrop-filter: blur(7px);
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0px 15px 15px 0px;
  box-shadow: -5px 0 10px rgba(var(--UIText), 0.4);
}
.customerDiv {
  cursor: pointer;
  background-color: rgba(var(--UIText), 0.2);
  backdrop-filter: blur(7px);
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px 0 0 15px;
}
.partnerIcon,
.customerIcon {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(var(--UIText));
  margin-top: 5px;
}
.imgDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: '5px';
}
.bottomTextPartner {
  position: absolute;
  bottom: 0;
  color: rgb(var(--UIColor));
  font-size: 50px;
}
.bottomTextCustomer {
  position: absolute;
  bottom: 0;
  color: rgb(var(--UIText));
  font-size: 50px;
}
.partnerIcon:hover,
.customerIcon:hover {
  box-shadow: 0 0 10px 50px #00ff0093 inset;
}
.customerDiv img {
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.customerDiv:hover img,
.partnerDiv:hover img {
  transform: scale(0.7);
}

.authenticationPage {
  align-items: center;
  padding: 40px;
  font-size: 50px;
  color: #097b5a;
  font-weight: bold;
}
