.custom-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.7s visibility 0.7s;
  visibility: hidden;
}
.custom-dialog.open {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}
.bubble {
  opacity: 0;
  position: absolute;
  bottom: 290px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0s ease-in-out 0s;
}

.shrink {
  position: absolute;
  bottom: 245px;
  right: -25px;
  width: 150px; /* 60px for the circle + 10px padding on each side */
  height: 150px; /* 60px for the circle + 10px padding on each side */
  border-radius: 50%;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  pointer-events: none; /* Allow clicks to pass through */
  transition: border-radius 0s ease-in-out;
  animation: shrinkCircle 1s forwards;
}
.bubble.close {
  opacity: 1;
  transition-delay: 0.62s;
}

.bubbleToolTip.open {
  visibility: hidden;
}

.dialog-content {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.dialog-content.open {
  animation: Morph 0.7s forwards;
  opacity: 1;
  transform: scale(1);
}

.dialog-content.close {
  opacity: 1;
  transform: scale(1);
  animation: MorphBack 0.7s forwards;
}
.dialog-content.close > * {
  opacity: 0;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.dialog-body {
  padding: 16px;
  flex-grow: 1;
}

.dialog-actions {
  padding: 16px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

@keyframes Morph {
  0% {
    transform: translateX(697.5px) translateY(42px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
  }
  50% {
    height: 250px;
    background-color: white;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes MorphBack {
  100% {
    transform: translateX(697.5px) translateY(42px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
  }
  50% {
    background-color: white;
    height: 250px;
  }
  0% {
    transform: translateX(0px);
  }
}
@keyframes shrinkCircle {
  0% {
    bottom: 70px;
    right: -200px;
    width: 500px;
    height: 500px;
  }
  100% {
    bottom: 245px;
    right: -25px;
    width: 150px; /* 60px for the circle + 10px padding on each side */
    height: 150px; /* 60px for the circle + 10px padding on each side */
  }
}
