.containerParkingSpots {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 500px;
  background-color: rgba(9, 123, 90, 0.5);
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  row-gap: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 15px;
  backdrop-filter: blur(7px);
}
.containerSpots {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  align-items: center;
  color: rgb(var(--UIText));
  background-color: rgb(var(--UIColor));
  border-radius: 15px;
}
.containerHeaderSpots {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 25px;
}
.containerHeaderSpots p {
  display: flex;
  justify-content: center;
}
.containerSpots .coordinates,
.status,
.nrSpot {
  display: flex;
  justify-content: center;
}

.nrSpot {
  width: 4%;
}
.addressName {
  width: 43%;
}
.coordinates {
  width: 23%;
}
.status {
  width: 9%;
}
.loading {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageReminder {
  text-align: center;
  padding: 25px 0 25px 0;
  font-size: 30px;
  color: rgb(var(--UIColor));
  font-weight: bold;
}
@media (max-width: 1100px) {
  .containerParkingSpots {
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0px;
    border-radius: 0;
  }
}
