.containerParkingSpots {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 500px;
  background-color: #097b5a;
  color: var(--UIText);
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  row-gap: 40px;
  overflow-x: hidden;
  overflow-y: auto;
}
.containerSpots {
  display: flex;
  flex-direction: row;
  height: 80px;

  width: 100%;
  align-items: center;
  color: var(--UIText);
  background-color: var(--UIColor);
  border-radius: 15px;
}
.containerHeaderSpots {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 80px;

  width: 100%;
  align-items: center;
  color: var(--UIColor);
  border-radius: 15px;

  padding-bottom: 25px;
}
.containerHeaderSpots p {
  display: flex;
  justify-content: center;
}
.containerSpots .coordinates,
.status,
.nrSpot {
  display: flex;
  justify-content: center;
}

.nrSpot {
  width: 4%;
}
.addressName {
  width: 43%;
}
.coordinates {
  width: 23%;
}
.status {
  width: 9%;
}
.loading {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
