* {
  -ms-overflow-style: none;
  transition: all 0.3s ease-in-out;
  font-family: 'Josefin Sans';
}

::-webkit-scrollbar {
  display: none;
}
:root {
  --border_color: rgba(2, 25, 10);
  --body_background: #040720;
}
[data-theme='dark'] {
  --border_color: rgba(2, 25, 10);
  --body_background: #040720;
}
[data-theme='light'] {
  --border_color: rgba(255, 255, 255);
  --body_background: #454545;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: var(
    --body_background
  ); /* Set the overall background color */
}
