.parkBuddy {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(50px, 9vw, 150px); /* Set your preferred range */
  height: clamp(50px, 10vw, 130px); /* Set your preferred range */
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: clamp(0px, 15px, 25px);
  border-top: hidden;
  border-left: hidden;
  cursor: pointer;
}
