.parkBuddy {
  top: 0;
  left: 0;
  width: clamp(75px, 10vw, 150px); /* Set your preferred range */
  height: clamp(70px, 9vw, 130px); /* Set your preferred range */
  overflow: hidden;
  border-radius: clamp(0px, 15px, 25px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.437);
  border-top: hidden;
  border-left: hidden;
  cursor: pointer;
  opacity: 0.737;
  transition: box-shadow 0.12s ease-in-out, transform 0.07s ease-in-out,
    opacity 0.12s ease-in-out;
  position: relative;
}

.parkBuddy:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.parkBuddy:active {
  transform: scale(0.9);
}
